<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="ClassColumn" type="xstring" value="LandAverageTemperature(next month)"/>
        <entry key="Serialized Weka-Classifier" type="xstring" value="rO0ABXNyACt3ZWthLmNsYXNzaWZpZXJzLmZ1bmN0aW9ucy5MaW5lYXJSZWdyZXNzaW9u0U6biEOi600CAA9aAAdiX0RlYnVnSQAUbV9BdHRyaWJ1dGVTZWxlY3Rpb25JAAxtX0NsYXNzSW5kZXhEAAttX0NsYXNzTWVhbkQADW1fQ2xhc3NTdGREZXZaAB1tX0VsaW1pbmF0ZUNvbGluZWFyQXR0cmlidXRlc0QAB21fUmlkZ2VaABFtX2NoZWNrc1R1cm5lZE9mZlsADm1fQ29lZmZpY2llbnRzdAACW0RbAAdtX01lYW5zcQB+AAFMAA9tX01pc3NpbmdGaWx0ZXJ0ADpMd2VrYS9maWx0ZXJzL3Vuc3VwZXJ2aXNlZC9hdHRyaWJ1dGUvUmVwbGFjZU1pc3NpbmdWYWx1ZXM7WwAUbV9TZWxlY3RlZEF0dHJpYnV0ZXN0AAJbWlsACW1fU3RkRGV2c3EAfgABTAARbV9UcmFuc2Zvcm1GaWx0ZXJ0ADNMd2VrYS9maWx0ZXJzL3N1cGVydmlzZWQvYXR0cmlidXRlL05vbWluYWxUb0JpbmFyeTtMABFtX1RyYW5zZm9ybWVkRGF0YXQAFUx3ZWthL2NvcmUvSW5zdGFuY2VzO3hyABt3ZWthLmNsYXNzaWZpZXJzLkNsYXNzaWZpZXJaPoQhvSYjTQIAAVoAB21fRGVidWd4cAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAT5FeY7iMIw6AHBwcHBwcHA="/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.ext.weka366.classifier.WekaClassifierNodeFactory"/>
    <entry key="node-name" type="xstring" value="LinearRegression (3.6)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME WEKA nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.weka_3.6"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="2.10.2.v202104271009"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Weka Data Mining Integration (3.6)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.weka_3.6.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="2.10.2.v202104271009"/>
    <config key="factory_settings">
        <entry key="weka-class" type="xstring" value="weka.classifiers.functions.LinearRegression"/>
        <entry key="weka-version" type="xstring" value="3.6"/>
    </config>
    <entry key="name" type="xstring" value="LinearRegression (3.6)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
